@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light.ttf') format('ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Lato';
    src: url('./Lato-Regular.ttf') format('ttf'), url('./Lato-Regular.woff2') format('woff2'), url('./Lato-Regular.woff') format('woff');
    font-weight: 400;
}

